* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.background_image{
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	right: auto;
	width: 100%;
	margin: 0px auto;
}
.background_image img{
	position: relative;
	width: 100%;
	z-index: -1;
}
.onboarding_container{
	position: relative;
	display: flex;
	flex-direction: row;
	width: 1450px;
	max-width:100%;
	margin: 0px auto;
}
.text_message{
	margin-left: ;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 500px;
	max-width: 100%;
	font-family: Nunito Sans;
	color: #054A72;
	top: 100px;
	left: 50px;
	
}
.image_icon{
	width: max-content;
	position: relative;	
	float: right;
	left: 200px;
	
}
.text_inti{
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 800px;
	max-width: 100%;
	font-family: Nunito Sans;
	color: #054A72;
	top: 250px;
	background-color: white;
	padding: 130px;
	border-radius: 30px;
	box-shadow: 0px 0px 4px #929292;
}
.text_inti h1{
	text-align: center;
}
.inti_image{
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	right: auto;
	width: 100%;
	margin: 0px auto;
}
.inti_image img{
	position: relative;
	width: 100%;
	top: 250px;
	z-index: -1;
}
.sosmed_image img{
	position: relative;
	width: 40px;
	top: 370px;
	left: 480px;
	float: center;
	margin: 10px;
	filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all 0.5s ease 0s;
}
.sosmed_image img:hover{
	filter: none;
}