@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
*{  
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container-footer{
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 1450px;
    max-width: 100%;
    background-color: #F9FDFF;
}
.footer-content {
  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 35px;
}

.footer-content h5{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: #163F5B;
}

.menu p, .follow-us p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #163F5B;
}

.ticketin{
    display: flex;
    flex-direction: column;
    width: 277px;
    text-align: center;
}

.ticketin p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #262627;
}
.follow-us p{
    display: inline-block;
}
.follow-us div{
    display: flex;
}
.copyright{
    text-align: center;
    padding: 10px;
}
.copyright p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #163F5B;
    display: inline;
}
.menu p, .follow-us p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #163F5B;
}
.menu h5 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: #163F5B;
}
.follow-us div img{
    margin-right: 10px;
}