*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pasang-tiket-onboard,{
    display: flex;
    flex-direction: column;
    width: 1440px;
    max-width: 100%;
    margin: 0px auto;
    margin-bottom: 30px;
}
.background-image {
    position: absolute;
    width: max-content;
}
.background-image img{
    position: relative;
    width: 1440px;
}
.pasang-tiket-onboard{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.text{
    display: flex;
    position: relative;
    justify-content: center ;
}
.text h1{
    width: max-content;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 50px;
/* identical to box height, or 78% */

display: flex;
align-items: flex-end;
text-align: center;

color: #054A72;
}
.title{
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid rgba(0, 110, 172, 0.4);
}
.title h2{
    width: max-content;
    font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 50px;
/* identical to box height, or 208% */

display: flex;
align-items: center;

color: #054A72;

} 
.add-photo,.detail-produk-container,.tempat-waktu-container,.harga-tiket-container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1111px;
    padding: 30px;
    height: 327px;
    margin: 0px auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 110, 172, 0.2);
    border-radius: 15px;
    justify-content: space-around;
    margin-bottom: 30px;
}
.image-container{
    display: flex;
    flex-direction: row;
    width: 910px;
    justify-content: space-between;
}
.image-card{
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgba(0, 110, 172, 0.2);
    border-radius: 15px;
}
label{
    font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: flex-end;

/* Semi Black */

color: #393939;
}
form div{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    align-items: baseline;
    margin-bottom: 10px;
}
form div input{
    padding: 5px;
    border: 1px solid #00000012;
}
textarea{
    resize: none;
}
.harga-tiket-container >div> form > div{
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    align-items: center;
}

.harga-tiket-container >div> form > div >label{
    border: 1px solid #00000012;
    display: flex;
    justify-content: center;
    background-color: #006EAC20 ;
    align-items: center;
}

.harga-tiket-container input[type='number'] {
        -moz-appearance:textfield;
    }
.harga-tiket-container  input::-webkit-outer-spin-button,
.harga-tiket-container    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
.button button{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
    color: white;
    width: 200px;
    height: 50px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 110, 172, 0.2);
    border-radius: 15px;
}
.button{
    display: flex;
    flex-direction: row;
    width: 1111px;
    position: relative;
    margin: 0px auto;
    justify-content: flex-end;
}
.background-image{
    top: 0;
}
#batal{
    background: #EB5757;
    margin-right: 48px;
}
#simpan{
    background: #27AE60;
}