@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap');
*{  
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
p{
    margin: 0;
}
.onboarding-pesan-tiket{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 550px;
    
}
.background-image{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: auto;
    width: 100%;
}
.background-image img{
    position: relative;
    width: 100%;
}
.onboarding-container{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 100px;
    width: 1450px;
    justify-content: space-around;
    max-width: 100%;
    margin: 0px auto;
}
.text-message{
    margin-left: ;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 500px;
    max-width: 100%;
}
.text-message h1{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 52px;
    font-weight: 900;
    color: #054A72;
    text-decoration: none;
}
.text-message p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #393939;
    text-decoration: none;
    margin-top: 16px;
}
.image-icon{
    width: max-content;
    position: relative;
}
.image-icon img{
    position: relative;
    width: 400px;
    max-width: 100%;
}
.input-group{
    width: 600px;
    max-width: 100%;
    display: flex;
    align-self: center;
}
.form-control{
    align-items: center;
}
.form-control::placeholder{
    font-size: 10px;
    align-content: center;
}
.cari-ticket{
    display: flex;

}
.cari-ticket-container{
    justify-content: space-around;
    position: relative;
    width: 1450px;
    max-width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
}
.choice-item{
    position: relative;
    width: 840px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.menu-item{
    position: relative;
    display: grid;
    width: 840px;
    max-width: 100%;
    grid-template-columns: 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 110, 172, 0.2);
    border-radius: 15px;
    padding: 15px;
   
}
.menu-item-navigator{
    position: relative;
    display: grid;
    width: 840px;
    padding: 15px;
    max-width: 100%;
    padding-left: 10px;
    grid-template-rows: 1fr;
}.navigator{
    display: flex;
    position: relative;
    width: calc(100%/5);
    height: 1px;
    border: 1px solid black;
    transition: 1s;
}
.fliter-harga-container{
    display: flex;
    width: 320px;
    height: 720px;
    max-width: 100%;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 110, 172, 0.2);
    border-radius: 15px;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
}
.item,.item a{
    color: black;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.item img{
    width: max-content;
}
.item p{
    margin: 0 !important;
}
.filter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 240px;
    height: 80px;
    border-bottom: 1px solid #054A72;
}

.wrapper {
    position: relative;
    height: 186px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .multi-range-slider {
      position: relative;
      width: 100%;
      height: 20px;
      display: block;
  }
  
  input[type=range] {
      -webkit-appearance: none; 
      width: 100%; 
      background: transparent; 
      -moz-appearance: none;
      appearance: none;
      position: absolute;
      z-index: 10;
      height: 100%;
      margin: 0;
      pointer-events: none;
  }
  
  input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
  }
  
  input[type=range]:focus {
      outline: none; 
  }
  
  input[type=range]::-ms-track {
      width: 100%;
      cursor: pointer;
      background: transparent; 
      border-color: transparent;
      color: transparent;
  }
  
  input[type=range]::-webkit-slider-thumb {
      pointer-events: all;
      -webkit-appearance: none;
      cursor: pointer;
      border: 0 none;
      width: 15px;
      height: 15px;
      border: 1px solid #006EAC;
      background-color: white;
      border-radius: 50%;
      box-shadow: 0 0 0 0 rgba(38, 152, 217, 0.1);
      transition: box-shadow 0.3s ease-in-out;
  }
  
  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
      pointer-events: all;
      cursor: pointer;
      border: 0 none;
      width: 15px;
      height: 15px;
      background-color: #2698D9;
      border-radius: 50%;
      box-shadow: 0 0 0 0 rgba(38, 152, 217, 0.1);
      transition: box-shadow 0.3s ease-in-out;
  }
  
  input[type=range]::-moz-focus-outer {
      border: 0;
  }

  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
      pointer-events: all;
      border: 0 none;
      cursor: pointer;
      width: 15px;
      height: 15px;
      background-color: #2698D9;
      border-radius: 50%;
      box-shadow: 0 0 0 0 rgba(38, 152, 217, 0.1);
      transition: box-shadow 0.3s ease-in-out;
  }
  
  input[type=range].hover::-webkit-slider-thumb {
      box-shadow: 0 0 0 10px rgba(38, 152, 217, 0.1);
  } 
  input[type=range].hover::-moz-range-thumb {
      box-shadow: 0 0 0 10px rgba(38, 152, 217, 0.1);
  } 
  input[type=range].hover::-ms-thumb {
      box-shadow: 0 0 0 10px rgba(38, 152, 217, 0.1);
  } 
  input[type=range].active::-webkit-slider-thumb {
      box-shadow: 0 0 0 20px rgba(38, 152, 217, 0.2);
  } 
  input[type=range].active::-moz-range-thumb {
      box-shadow: 0 0 0 20px rgba(38, 152, 217, 0.2);
  } 
  input[type=range].active::-ms-thumb {
      box-shadow: 0 0 0 20px rgba(38, 152, 217, 0.2);
  } 
  input[type=range]::-webkit-slider-runnable-track {
      background: transparent;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
      background: transparent;
  }
  input[type=range]::-moz-range-track {
      background: transparent;
  }
  input[type=range]::-ms-track {
      background: transparent;
  }
  input[type=range]::-ms-fill-lower {
      background: transparent;
  }
  input[type=range]:focus::-ms-fill-lower {
      background: transparent;
  }
  input[type=range]::-ms-fill-upper {
      background: transparent;
  }
  input[type=range]:focus::-ms-fill-upper {
      background: transparent;
  }
  
  .slider {
      position: absolute;
      width: 100%;
      top: 7px;
      z-index: 1;
      height: 6px;
  }
  
  .slider > .track {
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 5px;
      background-color: #EDEDED;
  }
  
  .slider > .range {
      position: absolute;
      z-index: 2;
      left: 25%;
      right: 25%;
      top: 0;
      bottom: 0;
      border-radius: 5px;
      background-color: #2698D9;
  }
  
  .price__wrapper {
      display: flex;
      justify-content: space-between;
      font-size: 13px;
      margin-top: 20px;
      width: 100%;
  }
  .price-to, .price-from{
      color: #9C9C9C;
  }
  
  .menu-tiket-item{

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      height: 790.44px;
      overflow-y: scroll;
  }
  .card{
      border-radius: 10px !important;
  }
  .card img{
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
  }
  .price-text{color:#27AE60}
  .card{
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .text-menu-tiket{
      margin-top: 10px;
      margin-left: 13px;
      color: #054A72;
  }
  .text-menu-tiket h1 {
    font-size: 24px;
  }
  .container-filter{
      border-bottom: 1px solid  #054A72 ;
  }form >div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  form{
      width: 241px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  input[type=radio]{
    transform: scale(2);
  }
  label{
      margin: 0;
  }
  .fliter-harga-container h1{
     font-size: 24px;
     color: #054A72;
     margin: 0;
  }
  form label{
    font-size: 18px;
    color: #000000;
  }
  .input-group-text{
      background-color: #F5F6FA;
      color: #006EAC;
      border: none;
      border-top-left-radius: 17px;
      border-bottom-left-radius: 17px;
  }
.form-control{
      background-color:  #F5F6FA;
      border: none;
      border-bottom-right-radius: 17px;
      border-top-right-radius: 17px;
  }
