@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap');
/*HTML BANTUAN*/

.bg-image {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: auto;
    width: 100%;
}
p{
    margin: 0 !important;
}
.bg-image img {
    position: relative;
    width: 100%;
}
.onboarding-container {
    position: relative;
    padding: 100px;
    width: 1450px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0px auto;
}
.message h1 {
    position: relative;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 50px;
    color: #054A72;
    background-color: transparent;
}
.message p {
    position: relative;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 50px;
    color: #054A72;
    background-color: transparent;
}
.onboarding-icon {
    width: max-content;
    position: relative;
    width: 548px;
    height: 416px;
}
* {
    background-color: transparent;
}
.help-section {
    position: relative;
    display: grid;
    width: 1450px;
    max-width: 100%;
    margin: 0px auto;
}
.card-header {
    background-color: transparent;
}
.card-header a {
    color: rgba(0, 0, 0, 0.87);
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}
.card-li a {
    color: black;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
}
#konten-faq {
    display: none;
}
#konten-faq h2 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.87);
}
#konten-faq p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.87);
}
.input-group{
    width: 600px;
    max-width: 100%;
    display: flex;
    align-self: center;
}
.form-control{
    align-items: center;
}
.form-control::placeholder{
    font-size: 10px;
    align-content: center;
}
.onboarding-container input {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 50px;
    display: flex;
    align-items: flex-end;
    color: rgba(0, 0, 0, 0.20);
}
.bantuan-lain p{
    position: relative;
    height: 28px;
    left: 55px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.87);
}
.bantuan-lain a {
    position: relative;
    width: 164px;
    height: 36px;

    left: 55px;

    background: #27AE60;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.bantuan-lain, .bantuan-lain a{
    margin-top: 20px;
}