@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
}
.tiket-info-contianer{
    display: flex;
    flex-direction: column;
    width: 1350px;
    height: 820px;
    max-width: 100%;
    justify-content: space-around;
    margin: 0px auto;
}
.background-image-tiket-info{
    position: absolute;
    display: flex;
    width: 100%;
}
.background-image-tiket-info img{
    position: relative;
    width: 100%;
}
.input-group{
    width: 600px;
    max-width: 100%;
    display: flex;
    align-self: center;
}
.input-group-text{
    background-color: #F5F6FA;
    color: #006EAC;
    border: none;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}
.form-control{
    background-color:  #F5F6FA;
    border: none;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
}
.tiket-container{
    position: relative;
    width: 1168px;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: 0px auto;
    justify-content: space-around;
}
.image-tiket-detail{
    display: flex;
    flex-direction: row;
    width: 812px;
    justify-content: space-around;
}
.more-image-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    max-width: 100%;
}
.image-and-text-tiket{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 812px;
}
.text-tiket{
    display: flex;
    flex-direction: column;
    width: 357px;
}
.harga-tiket-container{
    width: 320px;
    height: 633px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #FFFFFF;

    box-shadow: 0px 0px 5px rgba(0, 110, 172, 0.2);
    border-radius: 15px;
}
.harga-tiket-container h1{
    font-family: Nunito Sans;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 50px;
/* identical to box height, or 208% */

display: flex;
align-items: center;
text-align: center;

color: #054A72;
}

.harga-tiket-container h2{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    /* identical to box height, or 100% */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #27AE60;
}
.harga-button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 240px;
    height: 241px;
    border-bottom: 1px solid #2F80ED;
}
#beli-tiket{
    width: 240px;
    height: 63px;

    border: none;
    background: #27AE60;
    box-shadow: 0px 0px 5px rgba(0, 110, 172, 0.2);
    border-radius: 30px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
/* identical to box height, or 208% */


    align-items: center;
    text-align: center;
color: #FFFFFF;
}
.location{
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 160px;
    border-bottom: 1px solid #2F80ED;
}
.logo-location img,.logo-date-and-time img{
width: max-content;
height: max-content;
}
.logo-location,.logo-date-and-time{
    display: flex;
    flex-direction: row;
}